src/templates/pages/about-us.pug
extends ../layout/layout-inner-page.pug

block content

    section.main__content.main__content_about-us

        .text-section

            .main-text-block

                h2.title.title_page-title о нас:

                .main-text-block__wrapper

                    .main-text-block__content

                        |Компания "Омега-Х" на рынке автопроката с 2006 года. За это время мы открыли несколько филиалов и успешно реализовались в различных регионах РФ.
                        br
                        br
                        |У нас есть собственный автопарк из новейших автомобилей 2016-2019 годов разных марок и моделей.
                        |На сегодняшний день наши филиалы есть в Архангельске, Северодвинске, Калининграде и Севастополе.
                        |Станции аренды автомобиля от «Омеги-Х» находятся в аэропортах Архангельска (Талаги) и Калининграда (Храброво). 
                        |И это не предел! С каждым годом мы планируем открывать все новые и новые филиалы, чтобы услуги по аренде авто «Омега-Х» стали доступны в любой точке нашей страны.
                        br
                        br
                        h3 Нам потребуется всего 10 минут, чтобы оформить документы и предоставить вам авто.
                        br
                        |Мы предоставляем полный пакет документов:
                        ul
                            li договор аренды и субаренды;
                            li доверенность и дополнительное соглашение
                                |(при выезде в Европу);
                            li акт осмотра автомобиля и договор на право управления
                                |вторым лицом (в присутствии второго водителя).
                        br
                        h3 Мы работаем как с физическими так и юр. лицами



            .main-text-block

                h2.title.title_page-title Условия проката:

                .main-text-block__wrapper

                    .main-text-block__content

                        ul
                            li Залог для жителей Российской Федерации 5000 - 7500 р. (возвращается обратно)
                            br
                            li Возраст арендатора от 25 лет.
                            br
                            li Водительский стаж не менее 3 лет.
                            br
                            li Ограничение по пробегу 300км/сутки, свыше 300км/сутки - 2руб./км.
                            br
                            li Наличие у арендатора действительного водительского удостоверения и общегражданского паспорта.
                            br
                            li Аренда автомобиля от 1 суток.
                            br
                            li Автомобиль сдается и принимается в чистом виде и с полным баком.
                            br
                            li  Выезд на удалённые расстояния оговариваются при заключении договора.
                            br
                            li Выезд за пределы РФ запрещен (не распространяется на аренду машин в городе Калининград).


        .city-cards

            a(href="#").main-card

                .main-card__image

                .main-card__title Архангельск

            a(href="#").main-card

                .main-card__image.main-card__image_2

                .main-card__title Северодвинск

            a(href="#").main-card

                .main-card__image.main-card__image_3

                .main-card__title Калининград

            a(href="#").main-card

                .main-card__image.main-card__image_4

                .main-card__title Севастополь

    section.feedback-section

        .feedback-section__wrapper

            .main-form.main-form_inner-page

                form(action="/mail.php" method="POST").main-form__wrapper

                    .main-form__title задать вопрос

                    input(type='hidden', name='project_name', value='OmegaX')
                    input(type='hidden', name='admin_email', value='rus882@yandex.ru')
                    input(type='hidden', name='form_subject', value='Вопрос')

                    .material-input.material-input_required(id="material-input-name")
                        input(id="name" type="text" required name="name")
                        label(for="name") Представьтесь

                    .material-input.material-input_required(id="material-input-phone")
                        input(id="phone" type="text" required name="phone")
                        label(for="phone") Ваш телефон

                    .material-textarea(id="material-textarea")
                        textarea(id="message" rows="1" name="question")
                        label(for="message") Ваш вопрос

                    button.button.button_feedback Задать вопрос

            .main-text-block

                h2.title.title_page-title контакты:

                .main-text-block__wrapper

                    .main-text-block__content

                        |г. Архангельск, ул. Дзержинского 7, корп.4  показать на карте
                        br
                        br
                        a(href="tel:+78182478111") +7 (8182) 478 111
                        br
                        a(href="tel:+79022868111") +7 (902) 286 8111
                        br
                        br
                        a(href="mailto:omegax2015@mail.ru") omegax2015@mail.ru

    section.map-section(id="ymap")

block append scripts
    script(defer src="/js/contacts.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")

public/about-us.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>OmegaX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="body body_inner-page">
    <div class="body__tire-mark"></div>
    <div class="body__tire-mark body__tire-mark_2"></div>
    <header class="header">
        <div class="header__wrapper">
            <div class="header-contacts">
                <div class="header-contacts__item header-contacts__item_select"><select>
                        <option>Архангельск</option>
                        <option>Северодвинск</option>
                        <option>Калининград</option>
                        <option>Севастополь</option>
                    </select></div><a class="header-contacts__item" href="mailto:omegax2015@mail.ru">omegax2015@mail.ru</a><a class="header-contacts__item" href="tel:+79022868111">+7 902 286 81 11</a>
            </div>
        </div>
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav"><a class="logo" href="/"></a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-without-driver.html">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/conditions.html">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/about-us.html">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-with-driver.html">Аренда с водителем</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__content main__content_about-us">
                <div class="text-section">
                    <div class="main-text-block">
                        <h2 class="title title_page-title">о нас:</h2>
                        <div class="main-text-block__wrapper">
                            <div class="main-text-block__content">Компания "Омега-Х" на рынке автопроката с 2006 года. За это время мы открыли несколько филиалов и успешно реализовались в различных регионах РФ.<br><br>У нас есть собственный автопарк из новейших автомобилей 2016-2019 годов разных марок и моделей.
                                На сегодняшний день наши филиалы есть в Архангельске, Северодвинске, Калининграде и Севастополе.
                                Станции аренды автомобиля от «Омеги-Х» находятся в аэропортах Архангельска (Талаги) и Калининграда (Храброво).
                                И это не предел! С каждым годом мы планируем открывать все новые и новые филиалы, чтобы услуги по аренде авто «Омега-Х» стали доступны в любой точке нашей страны.<br><br>
                                <h3>Нам потребуется всего 10 минут, чтобы оформить документы и предоставить вам авто.</h3><br>Мы предоставляем полный пакет документов:<ul>
                                    <li>договор аренды и субаренды;</li>
                                    <li>доверенность и дополнительное соглашение(при выезде в Европу);</li>
                                    <li>акт осмотра автомобиля и договор на право управлениявторым лицом (в присутствии второго водителя).</li>
                                </ul><br>
                                <h3>Мы работаем как с физическими так и юр. лицами</h3>
                            </div>
                        </div>
                    </div>
                    <div class="main-text-block">
                        <h2 class="title title_page-title">Условия проката:</h2>
                        <div class="main-text-block__wrapper">
                            <div class="main-text-block__content">
                                <ul>
                                    <li>Залог для жителей Российской Федерации 5000 - 7500 р. (возвращается обратно)</li><br>
                                    <li>Возраст арендатора от 25 лет.</li><br>
                                    <li>Водительский стаж не менее 3 лет.</li><br>
                                    <li>Ограничение по пробегу 300км/сутки, свыше 300км/сутки - 2руб./км.</li><br>
                                    <li>Наличие у арендатора действительного водительского удостоверения и общегражданского паспорта.</li><br>
                                    <li>Аренда автомобиля от 1 суток.</li><br>
                                    <li>Автомобиль сдается и принимается в чистом виде и с полным баком.</li><br>
                                    <li> Выезд на удалённые расстояния оговариваются при заключении договора.</li><br>
                                    <li>Выезд за пределы РФ запрещен (не распространяется на аренду машин в городе Калининград).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="city-cards"><a class="main-card" href="#">
                        <div class="main-card__image"></div>
                        <div class="main-card__title">Архангельск</div>
                    </a><a class="main-card" href="#">
                        <div class="main-card__image main-card__image_2"></div>
                        <div class="main-card__title">Северодвинск</div>
                    </a><a class="main-card" href="#">
                        <div class="main-card__image main-card__image_3"></div>
                        <div class="main-card__title">Калининград</div>
                    </a><a class="main-card" href="#">
                        <div class="main-card__image main-card__image_4"></div>
                        <div class="main-card__title">Севастополь</div>
                    </a></div>
            </section>
            <section class="feedback-section">
                <div class="feedback-section__wrapper">
                    <div class="main-form main-form_inner-page">
                        <form class="main-form__wrapper" action="/mail.php" method="POST">
                            <div class="main-form__title">задать вопрос</div><input type="hidden" name="project_name" value="OmegaX"><input type="hidden" name="admin_email" value="rus882@yandex.ru"><input type="hidden" name="form_subject" value="Вопрос">
                            <div class="material-input material-input_required" id="material-input-name"><input id="name" type="text" required name="name"><label for="name">Представьтесь</label></div>
                            <div class="material-input material-input_required" id="material-input-phone"><input id="phone" type="text" required name="phone"><label for="phone">Ваш телефон</label></div>
                            <div class="material-textarea" id="material-textarea"><textarea id="message" rows="1" name="question"></textarea><label for="message">Ваш вопрос</label></div><button class="button button_feedback">Задать вопрос</button>
                        </form>
                    </div>
                    <div class="main-text-block">
                        <h2 class="title title_page-title">контакты:</h2>
                        <div class="main-text-block__wrapper">
                            <div class="main-text-block__content">г. Архангельск, ул. Дзержинского 7, корп.4 показать на карте<br><br><a href="tel:+78182478111">+7 (8182) 478 111</a><br><a href="tel:+79022868111">+7 (902) 286 8111</a><br><br><a href="mailto:omegax2015@mail.ru">omegax2015@mail.ru</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="map-section" id="ymap"></section>
        </div>
    </main>
    <footer class="footer">
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav">
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда с водителем</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__wrapper">
            <address class="footer-info">
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Архангельск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79022868111">+7 902 286 81 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Северодвинск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79110586811">+7 911 058 68 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Калининград</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+790907931133">+7 9090 793 11 33</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Севастополь</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79781210331">+7 978 121 03 31</a>
                    </div>
                </div>
            </address>
        </div>
        <div class="footer__line footer__line_2"></div><a class="footer__politics" href="/politics.html">Политика конфиденциальности</a>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/polyfills.js"></script>
    <script defer src="/js/main.js"></script>
    <script defer src="/js/contacts.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&amp;lang=ru_RU" type="text/javascript"></script>
</body>

</html>
