src/templates/pages/conditions.pug
extends ../layout/layout-inner-page.pug

block content

    section.main__content

    section.feedback-section.feedback-section_conditions

        .feedback-section__wrapper

            .main-form.main-form_inner-page

                form(action="/mail.php" method="POST").main-form__wrapper

                    input(type='hidden', name='project_name', value='OmegaX')
                    input(type='hidden', name='admin_email', value='rus882@yandex.ru')
                    input(type='hidden', name='form_subject', value='Вопрос')

                    .main-form__title задать вопрос

                    .material-input.material-input_required(id="material-input-name")
                        input(id="name" type="text" required name="name")
                        label(for="name") Представьтесь

                    .material-input.material-input_required(id="material-input-phone")
                        input(id="phone" type="text" required name="phone")
                        label(for="phone") Ваш телефон

                    .material-textarea(id="material-textarea")
                        textarea(id="message" rows="1" name="question")
                        label(for="message") Ваш вопрос

                    button.button.button_feedback Задать вопрос

            .main-text-block

                h2.title.title_page-title Условия проката:

                .main-text-block__wrapper

                    .main-text-block__content.main-text-block__content_conditions

                        | - Залог для жителей Российской Федерации 5000 - 7500 р. (возвращается обратно)
                        br
                        | - Возраст арендатора от 25 лет.
                        br
                        | - Водительский стаж не менее 3 лет.
                        br
                        | - Ограничение по пробегу 300км/сутки, свыше 300км/сутки - 2руб./км.
                        br
                        | - Наличие у арендатора действительного водительского удостоверения и общегражданского паспорта.
                        br
                        | - Аренда автомобиля от 1 суток.
                        br
                        | - Автомобиль сдается и принимается в чистом виде и с полным баком.
                        br
                        | -  Выезд на удалённые расстояния оговариваются при заключении договора.
                        br
                        | - Выезд за пределы РФ запрещен (не распространяется на аренду машин в городе Калининград).

block append scripts
    script(defer src="/js/rent-without-driver.js")

public/conditions.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>OmegaX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="body body_inner-page">
    <div class="body__tire-mark"></div>
    <div class="body__tire-mark body__tire-mark_2"></div>
    <header class="header">
        <div class="header__wrapper">
            <div class="header-contacts">
                <div class="header-contacts__item header-contacts__item_select"><select>
                        <option>Архангельск</option>
                        <option>Северодвинск</option>
                        <option>Калининград</option>
                        <option>Севастополь</option>
                    </select></div><a class="header-contacts__item" href="mailto:omegax2015@mail.ru">omegax2015@mail.ru</a><a class="header-contacts__item" href="tel:+79022868111">+7 902 286 81 11</a>
            </div>
        </div>
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav"><a class="logo" href="/"></a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-without-driver.html">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/conditions.html">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/about-us.html">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-with-driver.html">Аренда с водителем</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__content"></section>
            <section class="feedback-section feedback-section_conditions">
                <div class="feedback-section__wrapper">
                    <div class="main-form main-form_inner-page">
                        <form class="main-form__wrapper" action="/mail.php" method="POST"><input type="hidden" name="project_name" value="OmegaX"><input type="hidden" name="admin_email" value="rus882@yandex.ru"><input type="hidden" name="form_subject" value="Вопрос">
                            <div class="main-form__title">задать вопрос</div>
                            <div class="material-input material-input_required" id="material-input-name"><input id="name" type="text" required name="name"><label for="name">Представьтесь</label></div>
                            <div class="material-input material-input_required" id="material-input-phone"><input id="phone" type="text" required name="phone"><label for="phone">Ваш телефон</label></div>
                            <div class="material-textarea" id="material-textarea"><textarea id="message" rows="1" name="question"></textarea><label for="message">Ваш вопрос</label></div><button class="button button_feedback">Задать вопрос</button>
                        </form>
                    </div>
                    <div class="main-text-block">
                        <h2 class="title title_page-title">Условия проката:</h2>
                        <div class="main-text-block__wrapper">
                            <div class="main-text-block__content main-text-block__content_conditions">- Залог для жителей Российской Федерации 5000 - 7500 р. (возвращается обратно)<br>- Возраст арендатора от 25 лет.<br>- Водительский стаж не менее 3 лет.<br>- Ограничение по пробегу 300км/сутки, свыше 300км/сутки - 2руб./км.<br>- Наличие у арендатора действительного водительского удостоверения и общегражданского паспорта.<br>- Аренда автомобиля от 1 суток.<br>- Автомобиль сдается и принимается в чистом виде и с полным баком.<br>- Выезд на удалённые расстояния оговариваются при заключении договора.<br>- Выезд за пределы РФ запрещен (не распространяется на аренду машин в городе Калининград).</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav">
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда с водителем</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__wrapper">
            <address class="footer-info">
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Архангельск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79022868111">+7 902 286 81 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Северодвинск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79110586811">+7 911 058 68 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Калининград</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+790907931133">+7 9090 793 11 33</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Севастополь</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79781210331">+7 978 121 03 31</a>
                    </div>
                </div>
            </address>
        </div>
        <div class="footer__line footer__line_2"></div><a class="footer__politics" href="/politics.html">Политика конфиденциальности</a>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/polyfills.js"></script>
    <script defer src="/js/main.js"></script>
    <script defer src="/js/rent-without-driver.js"></script>
</body>

</html>
