src/templates/pages/index.pug
extends ../layout/layout.pug

block content

    section.main__content

        .city-cards

            a(href="#").main-card

                .main-card__image

                .main-card__title Архангельск

            a(href="#").main-card

                .main-card__image.main-card__image_2

                .main-card__title Северодвинск

            a(href="#").main-card

                .main-card__image.main-card__image_3

                .main-card__title Калининград

            a(href="#").main-card

                .main-card__image.main-card__image_4

                .main-card__title Севастополь

    section.feedback-section

        .feedback-section__wrapper

            .main-form

                form(action="/mail.php" method="POST").main-form__wrapper

                    input(type='hidden', name='project_name', value='OmegaX')
                    input(type='hidden', name='admin_email', value='rus882@yandex.ru')
                    input(type='hidden', name='form_subject', value='Вопрос')

                    .main-form__title задать вопрос

                    .material-input.material-input_required(id="material-input-name")
                        input(id="name" type="text" required name="name")
                        label(for="name") Представьтесь

                    .material-input.material-input_required(id="material-input-phone")
                        input(id="phone" type="text" required name="phone")
                        label(for="phone") Ваш телефон

                    .material-textarea(id="material-textarea")
                        textarea(id="message" rows="1" name="question")
                        label(for="message") Ваш вопрос

                    button.button.button_feedback Задать вопрос

            .main-text-block

                .main-text-block__wrapper

                    .main-text-block__content

                        ul
                            li Стоимость аренды авто без водителя от 900 руб. /сутки;
                            li Огромная линейка автотранспорта;
                            li Чистые и ухоженные автомобили;
                            li Подбор авто под ваш бюджет;
                            li Оперативность оформления аренды;
                            li Доставка автомобиля в любое место в черте города, а также в аэропорт;
                            li Система лояльности для постоянных клиентов;
                            li Работа с физическими и юридическими лицами;
                            li Оплата наличным и безналичным расчетом;
                            li Личный менеджер ответит на любые вопросы.

    section.map-section(id="ymap")
        .map-section__overlay

block append scripts
    script(defer src="/js/index.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")

public/index.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>OmegaX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="body">
    <div class="body__tire-mark"></div>
    <div class="body__tire-mark body__tire-mark_2"></div>
    <header class="header">
        <div class="header__wrapper">
            <div class="header-contacts"><a class="header-contacts__item" href="mailto:omegax2015@mail.ru">omegax2015@mail.ru</a><a class="header-contacts__item" href="tel:+79022868111">+7 902 286 81 11</a></div>
        </div>
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav"><a class="logo" href="/"></a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-without-driver.html">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/conditions.html">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/about-us.html">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-with-driver.html">Аренда с водителем</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__content">
                <div class="city-cards"><a class="main-card" href="#">
                        <div class="main-card__image"></div>
                        <div class="main-card__title">Архангельск</div>
                    </a><a class="main-card" href="#">
                        <div class="main-card__image main-card__image_2"></div>
                        <div class="main-card__title">Северодвинск</div>
                    </a><a class="main-card" href="#">
                        <div class="main-card__image main-card__image_3"></div>
                        <div class="main-card__title">Калининград</div>
                    </a><a class="main-card" href="#">
                        <div class="main-card__image main-card__image_4"></div>
                        <div class="main-card__title">Севастополь</div>
                    </a></div>
            </section>
            <section class="feedback-section">
                <div class="feedback-section__wrapper">
                    <div class="main-form">
                        <form class="main-form__wrapper" action="/mail.php" method="POST"><input type="hidden" name="project_name" value="OmegaX"><input type="hidden" name="admin_email" value="rus882@yandex.ru"><input type="hidden" name="form_subject" value="Вопрос">
                            <div class="main-form__title">задать вопрос</div>
                            <div class="material-input material-input_required" id="material-input-name"><input id="name" type="text" required name="name"><label for="name">Представьтесь</label></div>
                            <div class="material-input material-input_required" id="material-input-phone"><input id="phone" type="text" required name="phone"><label for="phone">Ваш телефон</label></div>
                            <div class="material-textarea" id="material-textarea"><textarea id="message" rows="1" name="question"></textarea><label for="message">Ваш вопрос</label></div><button class="button button_feedback">Задать вопрос</button>
                        </form>
                    </div>
                    <div class="main-text-block">
                        <div class="main-text-block__wrapper">
                            <div class="main-text-block__content">
                                <ul>
                                    <li>Стоимость аренды авто без водителя от 900 руб. /сутки;</li>
                                    <li>Огромная линейка автотранспорта;</li>
                                    <li>Чистые и ухоженные автомобили;</li>
                                    <li>Подбор авто под ваш бюджет;</li>
                                    <li>Оперативность оформления аренды;</li>
                                    <li>Доставка автомобиля в любое место в черте города, а также в аэропорт;</li>
                                    <li>Система лояльности для постоянных клиентов;</li>
                                    <li>Работа с физическими и юридическими лицами;</li>
                                    <li>Оплата наличным и безналичным расчетом;</li>
                                    <li>Личный менеджер ответит на любые вопросы.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="map-section" id="ymap">
                <div class="map-section__overlay"></div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav">
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда с водителем</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__wrapper">
            <address class="footer-info">
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Архангельск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79022868111">+7 902 286 81 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Северодвинск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79110586811">+7 911 058 68 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Калининград</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+790907931133">+7 9090 793 11 33</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Севастополь</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79781210331">+7 978 121 03 31</a>
                    </div>
                </div>
            </address>
        </div>
        <div class="footer__line footer__line_2"></div><a class="footer__politics" href="/politics.html">Политика конфиденциальности</a>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/polyfills.js"></script>
    <script defer src="/js/main.js"></script>
    <script defer src="/js/index.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&amp;lang=ru_RU" type="text/javascript"></script>
</body>

</html>
