public/politics.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>OmegaX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="body body_inner-page">
    <div class="body__tire-mark"></div>
    <div class="body__tire-mark body__tire-mark_2"></div>
    <header class="header">
        <div class="header__wrapper">
            <div class="header-contacts">
                <div class="header-contacts__item header-contacts__item_select"><select>
                        <option>Архангельск</option>
                        <option>Северодвинск</option>
                        <option>Калининград</option>
                        <option>Севастополь</option>
                    </select></div><a class="header-contacts__item" href="mailto:omegax2015@mail.ru">omegax2015@mail.ru</a><a class="header-contacts__item" href="tel:+79022868111">+7 902 286 81 11</a>
            </div>
        </div>
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav"><a class="logo" href="/"></a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-without-driver.html">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/conditions.html">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/about-us.html">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-with-driver.html">Аренда с водителем</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="feedback-section feedback-section_conditions">
                <div class="feedback-section__wrapper">
                    <div class="main-text-block">
                        <h2 class="title title_page-title">Условия проката:</h2>
                        <div class="main-text-block__wrapper">
                            <div class="main-text-block__content main-text-block__content_conditions">Используя сайт avtoprokat29.ru, вы соглашаетесь на обработку ваших персональных данных и даете следующее Согласие
                                Согласие на обработку персональных данных
                                Используя данный сайт (заполняя формы, авторизуясь через социальные сети и сервисы, просматривая страницы), в соответствии с Федеральным законом № 152-ФЗ "О персональных данных" от 27.07.2006 года, своей волей и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных Обществу с Ограниченной Ответственностью "ОМЕГА Х" (ОГРН 1062902015329 , ИНН 2902053822), зарегистрованным в соответствии с законодательством РФ по адресу: 164500, г. СЕВЕРОДВИНСК, БЕЛОМОРСКИЙ, ДОМ 3, КОРПУС 1 (далее — Оператор). Персональные данные — любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу. Мной выдано согласие на обработку следующих персональных данных: Фамилия, Имя, Отчество, Адрес электронной почты, Место работы, Должность, Телефон. Настоящее Согласие дано Оператору для совершения следующих действий с персональными данными с использованием средств автоматизации и / или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, блокирование, обезличивание, уничтожение, удаление. Согласие дается Оператору для обработки моих персональных данных в целях: направление мне электронных писем; предоставление мне услуг и работ; направление мне информации, в том числе рекламной, об услугах и предложениях Оператора. Согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный адрес omegax2015@mail.ru. В случае отзыва моего согласия Оператор вправе продолжить обработку персональных данных при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ от 27.07.2006 г.</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav">
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда с водителем</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__wrapper">
            <address class="footer-info">
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Архангельск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79022868111">+7 902 286 81 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Северодвинск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79110586811">+7 911 058 68 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Калининград</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+790907931133">+7 9090 793 11 33</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Севастополь</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79781210331">+7 978 121 03 31</a>
                    </div>
                </div>
            </address>
        </div>
        <div class="footer__line footer__line_2"></div><a class="footer__politics" href="/politics.html">Политика конфиденциальности</a>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/polyfills.js"></script>
    <script defer src="/js/main.js"></script>
</body>

</html>

src/templates/pages/politics.pug
extends ../layout/layout-inner-page.pug

block content

    section.feedback-section.feedback-section_conditions

        .feedback-section__wrapper

            .main-text-block

                h2.title.title_page-title Условия проката:

                .main-text-block__wrapper

                    .main-text-block__content.main-text-block__content_conditions

                        |Используя сайт avtoprokat29.ru, вы соглашаетесь на обработку ваших персональных данных и даете следующее Согласие
                        |Согласие на обработку персональных данных
                        |Используя данный сайт (заполняя формы, авторизуясь через социальные сети и сервисы, просматривая страницы), в соответствии с Федеральным законом № 152-ФЗ "О персональных данных" от 27.07.2006 года, своей волей и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных Обществу с Ограниченной Ответственностью "ОМЕГА Х" (ОГРН 1062902015329 , ИНН 2902053822), зарегистрованным в соответствии с законодательством РФ по адресу: 164500, г. СЕВЕРОДВИНСК, БЕЛОМОРСКИЙ, ДОМ 3, КОРПУС 1 (далее — Оператор). Персональные данные — любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу. Мной выдано согласие на обработку следующих персональных данных: Фамилия, Имя, Отчество, Адрес электронной почты, Место работы, Должность, Телефон. Настоящее Согласие дано Оператору для совершения следующих действий с персональными данными с использованием средств автоматизации и / или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, блокирование, обезличивание, уничтожение, удаление. Согласие дается Оператору для обработки моих персональных данных в целях: направление мне электронных писем; предоставление мне услуг и работ; направление мне информации, в том числе рекламной, об услугах и предложениях Оператора. Согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный адрес omegax2015@mail.ru. В случае отзыва моего согласия Оператор вправе продолжить обработку персональных данных при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ от 27.07.2006 г.
