src/templates/pages/rent-with-driver.pug
extends ../layout/layout-inner-page.pug

block content

    section.main__content.main__content_rent-with-driver

        h2.title.title_page-title Аренда с водителем

        .driver-catalog

            .driver-catalog__wrapper

                .driver-catalog-item

                    .driver-catalog-item__wrapper

                        .driver-catalog-item__swiper
                            .driver-catalog-item__swiper-wrapper
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                            .driver-catalog-item__swiper-arrow(id="arrow-left")
                            .driver-catalog-item__swiper-arrow.driver-catalog-item__swiper-arrow_right(id="arrow-right")

                        .driver-catalog-item__info
                            .driver-catalog-item__info-wrapper
                                .driver-catalog-item__title Лада Гранта
                                .driver-catalog-item__price стоимость часа - 1 100 руб.
                                .driver-catalog-item__text-block Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.
                                a(href="tel:+79095553322").driver-catalog-item__phone +7 (909) 555- 33- 22

                .driver-catalog-item

                    .driver-catalog-item__wrapper

                        .driver-catalog-item__swiper
                            .driver-catalog-item__swiper-wrapper
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                            .driver-catalog-item__swiper-arrow(id="arrow-left")
                            .driver-catalog-item__swiper-arrow.driver-catalog-item__swiper-arrow_right(id="arrow-right")

                        .driver-catalog-item__info
                            .driver-catalog-item__info-wrapper
                                .driver-catalog-item__title Лада Гранта
                                .driver-catalog-item__price стоимость часа - 1 100 руб.
                                .driver-catalog-item__text-block Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.
                                a(href="tel:+79095553322").driver-catalog-item__phone +7 (909) 555- 33- 22

                .driver-catalog-item

                    .driver-catalog-item__wrapper

                        .driver-catalog-item__swiper
                            .driver-catalog-item__swiper-wrapper
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                            .driver-catalog-item__swiper-arrow(id="arrow-left")
                            .driver-catalog-item__swiper-arrow.driver-catalog-item__swiper-arrow_right(id="arrow-right")

                        .driver-catalog-item__info
                            .driver-catalog-item__info-wrapper
                                .driver-catalog-item__title Лада Гранта
                                .driver-catalog-item__price стоимость часа - 1 100 руб.
                                .driver-catalog-item__text-block Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.
                                a(href="tel:+79095553322").driver-catalog-item__phone +7 (909) 555- 33- 22


block append scripts
    script(defer src="/js/rent-with-driver.js")

public/rent-with-driver.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>OmegaX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="body body_inner-page">
    <div class="body__tire-mark"></div>
    <div class="body__tire-mark body__tire-mark_2"></div>
    <header class="header">
        <div class="header__wrapper">
            <div class="header-contacts">
                <div class="header-contacts__item header-contacts__item_select"><select>
                        <option>Архангельск</option>
                        <option>Северодвинск</option>
                        <option>Калининград</option>
                        <option>Севастополь</option>
                    </select></div><a class="header-contacts__item" href="mailto:omegax2015@mail.ru">omegax2015@mail.ru</a><a class="header-contacts__item" href="tel:+79022868111">+7 902 286 81 11</a>
            </div>
        </div>
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav"><a class="logo" href="/"></a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-without-driver.html">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/conditions.html">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/about-us.html">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/rent-with-driver.html">Аренда с водителем</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__content main__content_rent-with-driver">
                <h2 class="title title_page-title">Аренда с водителем</h2>
                <div class="driver-catalog">
                    <div class="driver-catalog__wrapper">
                        <div class="driver-catalog-item">
                            <div class="driver-catalog-item__wrapper">
                                <div class="driver-catalog-item__swiper">
                                    <div class="driver-catalog-item__swiper-wrapper">
                                        <div class="driver-catalog-item__swiper-image"></div>
                                        <div class="driver-catalog-item__swiper-image"></div>
                                        <div class="driver-catalog-item__swiper-image"></div>
                                    </div>
                                    <div class="driver-catalog-item__swiper-arrow" id="arrow-left"></div>
                                    <div class="driver-catalog-item__swiper-arrow driver-catalog-item__swiper-arrow_right" id="arrow-right"></div>
                                </div>
                                <div class="driver-catalog-item__info">
                                    <div class="driver-catalog-item__info-wrapper">
                                        <div class="driver-catalog-item__title">Лада Гранта</div>
                                        <div class="driver-catalog-item__price">стоимость часа - 1 100 руб.</div>
                                        <div class="driver-catalog-item__text-block">Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.</div><a class="driver-catalog-item__phone" href="tel:+79095553322">+7 (909) 555- 33- 22</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="driver-catalog-item">
                            <div class="driver-catalog-item__wrapper">
                                <div class="driver-catalog-item__swiper">
                                    <div class="driver-catalog-item__swiper-wrapper">
                                        <div class="driver-catalog-item__swiper-image"></div>
                                        <div class="driver-catalog-item__swiper-image"></div>
                                        <div class="driver-catalog-item__swiper-image"></div>
                                    </div>
                                    <div class="driver-catalog-item__swiper-arrow" id="arrow-left"></div>
                                    <div class="driver-catalog-item__swiper-arrow driver-catalog-item__swiper-arrow_right" id="arrow-right"></div>
                                </div>
                                <div class="driver-catalog-item__info">
                                    <div class="driver-catalog-item__info-wrapper">
                                        <div class="driver-catalog-item__title">Лада Гранта</div>
                                        <div class="driver-catalog-item__price">стоимость часа - 1 100 руб.</div>
                                        <div class="driver-catalog-item__text-block">Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.</div><a class="driver-catalog-item__phone" href="tel:+79095553322">+7 (909) 555- 33- 22</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="driver-catalog-item">
                            <div class="driver-catalog-item__wrapper">
                                <div class="driver-catalog-item__swiper">
                                    <div class="driver-catalog-item__swiper-wrapper">
                                        <div class="driver-catalog-item__swiper-image"></div>
                                        <div class="driver-catalog-item__swiper-image"></div>
                                        <div class="driver-catalog-item__swiper-image"></div>
                                    </div>
                                    <div class="driver-catalog-item__swiper-arrow" id="arrow-left"></div>
                                    <div class="driver-catalog-item__swiper-arrow driver-catalog-item__swiper-arrow_right" id="arrow-right"></div>
                                </div>
                                <div class="driver-catalog-item__info">
                                    <div class="driver-catalog-item__info-wrapper">
                                        <div class="driver-catalog-item__title">Лада Гранта</div>
                                        <div class="driver-catalog-item__price">стоимость часа - 1 100 руб.</div>
                                        <div class="driver-catalog-item__text-block">Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.</div><a class="driver-catalog-item__phone" href="tel:+79095553322">+7 (909) 555- 33- 22</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="shadow-menu">
            <div class="shadow-menu__wrapper">
                <nav class="header-nav">
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Главная</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда без водителя</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Условия</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Контакты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">О нас</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">Аренда с водителем</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__wrapper">
            <address class="footer-info">
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Архангельск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79022868111">+7 902 286 81 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Северодвинск</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79110586811">+7 911 058 68 11</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Калининград</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+790907931133">+7 9090 793 11 33</a>
                    </div>
                </div>
                <div class="footer-info__item">
                    <div class="footer-info__line">
                        <div class="footer-info__image"></div>
                        <div class="footer-info__text">Севастополь</div>
                    </div>
                    <div class="footer-info__line">
                        <div class="footer-info__image footer-info__image_phone"></div><a class="footer-info__text" href="tel:+79781210331">+7 978 121 03 31</a>
                    </div>
                </div>
            </address>
        </div>
        <div class="footer__line footer__line_2"></div><a class="footer__politics" href="/politics.html">Политика конфиденциальности</a>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/polyfills.js"></script>
    <script defer src="/js/main.js"></script>
    <script defer src="/js/rent-with-driver.js"></script>
</body>

</html>
